.faq h2{
  color: #2d8f3b;
  text-align: center;
  font-size: 2rem;
}

.faq h3{
  text-align: center;
}

.faq p {
  text-align: justify;
  line-height: 1.6;
  max-width: 70rem;
  margin: 0 auto;
  word-wrap: break-word;
  font-size: 1rem;
  padding: 3rem 1rem;
}